* {
  box-sizing: border-box;
  margin: 0;
}

#header_comp_main {
  height: 80px;
  width: 90%;
  border: 1px solid none;
  border-radius: 0.2rem;
  background-color: rgb(131, 125, 125);
  padding: 12px;
  font-size: 1.05rem;
}
#header_comp_main > :nth-child(2) {
  margin-top: 4px;
  margin-left: 16px;
}

#button_comp_main {
  height: 32px;
  width: fit-content;
  border: 1px solid black;
  border-radius: 0.4rem;
  background-color: rgb(129, 129, 184);
  padding: 5px;
}

#row_comp_main {
  height: 45px;
  width: 100%;
  border: 1px solid black;
  border-radius: none;
  background-color: rgb(219, 211, 211);
  padding: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  overflow: scroll;
}
#row_comp_main .row_child {
  height: 90%;
  width: fit-content;
  border: 1px solid none;
  border-radius: none;
  background-color: none;
  padding: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: none;
  gap: none;
  text-align: justify;
  font-size: 1.1rem;
  border-right: 1px solid black;
}
#row_comp_main > :first-child {
  padding: none;
  justify-content: center;
}

#input_comp_main {
  height: fit-content;
  width: 80%;
  border: 1px solid none;
  border-radius: none;
  background-color: none;
  padding: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2px;
}
#input_comp_main label {
  margin-left: 4px;
}
#input_comp_main input {
  height: 55px;
  width: 100%;
  border: 1px solid black;
  border-radius: 0.4rem;
  background-color: none;
  padding: 8px;
  font-size: 1.2rem;
}

#dropdown_comp_main {
  height: fit-content;
  width: 140px;
  border: 1px solid none;
  border-radius: none;
  background-color: none;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
#dropdown_comp_main #header {
  height: 35px;
  width: 90%;
  border: 1px solid black;
  border-radius: 0.2rem;
  background-color: rgb(206, 198, 198);
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  gap: none;
  font-size: 1.2rem;
}
#dropdown_comp_main #dropdown_box {
  height: fit-content;
  width: 100%;
  border: 1px solid black;
  border-radius: 0.4rem;
  background-color: white;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2px;
  position: absolute;
  left: none;
  right: none;
  top: 45px;
  bottom: none;
}
#dropdown_comp_main #dropdown_box .items_p {
  height: 36px;
  width: 100%;
  border: 1px solid none;
  border-radius: none;
  background-color: rgb(236, 228, 228);
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: none;
  gap: none;
  font-size: 1.2rem;
}

#selectdiv_comp_main {
  height: fit-content;
  width: 92%;
  border: 1px solid none;
  border-radius: 0.6rem;
  background-color: rgb(191, 191, 196);
  padding: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  padding-right: 8px;
  padding-left: 8px;
  box-shadow: 1px 2px 2px 1px black;
}
#selectdiv_comp_main #first_div {
  height: 62px;
  width: 72vw;
  border: 1px solid none;
  border-radius: 0.4rem;
  background-color: rgb(191, 191, 196);
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 2px;
}
#selectdiv_comp_main #first_div > p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: none;
  gap: none;
  font-size: 1.1rem;
  height: 30px;
}
#selectdiv_comp_main #first_div > :first-child {
  border-right: 1px solid black;
  width: 10%;
  height: 100%;
}
#selectdiv_comp_main #first_div > div {
  width: 80%;
  padding-left: 8px;
  font-size: 1rem;
}
#selectdiv_comp_main #first_div > div > :last-child {
  font-size: 0.9rem;
  margin-left: 6%;
  margin-top: 1.5%;
}
#selectdiv_comp_main #second_div {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: none;
  padding: none;
  border: 2px solid black;
}

/*# sourceMappingURL=components.css.map */
