@mixin basic-layout($he: none, $wid: none, $bor: none, $brr: none, $bgc: none, $pad: none ) {
    height: $he;
    width: $wid;
    border: 1px solid $bor;
    border-radius: $brr;
    background-color: $bgc;
    padding: $pad;
}

@mixin flex($jc: none, $ai: none, $dir: none, $gap: none) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $dir;
    gap: $gap
}

* {
    box-sizing: border-box;
    margin: 0;
}


#add_mini_main {
    @include basic-layout(85%, 95%, black);
    @include flex(center, center, column, 6px );
    
    .input_div {
        @include basic-layout(fit-content, 90%, none, $pad: 6px );
        @include flex(center, flex-start, column, 4px );

        input {
            @include basic-layout(58px, 100%, black, 0.4rem, $pad: 8px  );
            font-size: 1.2rem;
        }
    }

    #managers_cond {
        @include basic-layout(45px, 85%, none, $pad: 6px, $bgc: rgb(189, 182, 169) );
        @include flex(flex-start, center, row, 20%)
    }
}